footer {
    /* margin-top: 10vmax; */
    padding: 2vmax;
    background-color: rgb(34, 33, 33);
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
  }
  

  
  
  
  .midFooter {
    width: 100%;
    
  
    text-align: center;
  }
  
  .midFooter > h1 {
    font-size: 3vmax;
    font-family: "Roboto";
    color: white;
  }
  .midFooter > p {
    max-width: 60%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 1vmax auto;
  }
  
  
  
  
  